<div class="container">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">LIST OF ALL APPOINTMENTS</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="user-table" class="table table-bordered"width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Tutor</th>
                            <th>Student</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<script type="text/javascript">

  getAppointments();

  function getAppointments(){
    $.ajax({
         url: "api/appo",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           var html = "";
           for(var i = 0; i < data.length; i++){
             html += '<tr class="odd">'
                 +'<td>'+data[i].Subjcet+'</td>'
                 +'<td>'+data[i].tutor+'</td>'
                 +'<td>'+data[i].student+'</td>'
                 +'<td><button type="button" class="btn btn-danger" onclick="remove_user('+data[i].id+');">Remove</button></td></tr>';
           }

           $("#user-table tbody").html(html);
           $("#user-table").DataTable();

         }
      });
  }
  function remove_user(id){
    $.post('api/classes/remove', {id: id}).done(function(){
      toastr.success('Appointments status updated');
      getAppointments();
    }).fail(function(){
       toastr.error('Appointments status update failed');
    });
  }


</script>
