<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Contact us</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Grow In Utility -->
        <div class="col-lg-6">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-location-arrow"></i> Where are we located?</h6>
                </div>
                <div id="map">
                </div>
            </div>

        </div>

        <!-- Fade In Utility -->
        <div class="col-lg-6">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-envelope"></i> Contact us on the following info</h6>
                </div>
                <div class="card-body">
                  <div>You are available to contact us any time on the following:</div><br>

                  <div><i class="fas fa-fw fa-phone"></i> Phone: +387644166943</div></br>

                  <div><i class="fas fa-fw fa-envelope"></i> E-mail: tutoring@sknet.ba</div></br>

                  <div><i class="fas fa-fw fa-location-arrow"></i> Location: Skopljaka 10, Visoko, Bosnia and Herzegowina</div></br>

                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->


    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <script>
      function initMap() {
        var uluru = {lat: 43.990150482599475, lng: 18.179007239760626};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src=
"https://maps.googleapis.com/maps/api/js?key=
AIzaSyB2bXKNDezDf6YNVc-SauobynNHPo4RJb8&callback=initMap">
    </script>
