<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 m-0 font-weight-bold text-primary">Our goals</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- First Column -->
        <div class="col-lg-4">

            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-exclamation"></i>Current Mission</h6>
                </div>
                <div class="card-body">
                  <div class="p-3 bg-gray-300">Main goal of the system is to help user’s find their desired tutoring, and also for tutors to post tutoring they offer. The system meets the needs for both the user and tutor since one if offering the tutoring that they are capable and the other is searching for what they need. Our product is design to help students find quality tutoring and to avoid searching trough sites that provide wide list of services but to have on demand tutoring that is available in needed category/subject, besides that to promote tutors to have an established community where they can post their services to potential users in need, and help them find each other trough our system.</div>
                </div>
            </div>

        </div>

        <!-- Second Column -->
        <div class="col-lg-4">

            <!-- Background Gradient Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-laugh-beam"></i>User Satisfaction
                    </h6>
                </div>
                <div class="card-body">
                  <div class="p-3 bg-gray-300">User satisafaction will be a core of this system since the system needs to meet the users needs. Our
                  primary target audience will be students and people offering the services, but we as young people now the struggle of finding tutoring, that is
                why we created this system from our own experience, and moving forward we will try to have user satisfaction at the most important tier.</div>
                </div>
            </div>

        </div>

        <!-- Third Column -->
        <div class="col-lg-4">

            <!-- Grayscale Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-rocket"></i>Future Plans
                    </h6>
                </div>
                <div class="card-body">
                    <div class="p-3 bg-gray-300">Going forward with our project our main goals is going to be to get the initial user reviews about the system, after seeing what the users need and want we will be making a version 2 of the system focusing on the user needs from the reviews. Since our main goal is to have a good communication with the users of the system and to meet their goals and desire what the system should be and what should it represent with the main task being a middle man for connecting tutors and students.</div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->
