<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Our goals</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- First Column -->
        <div class="col-lg-4">

            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Current Mission</h6>
                </div>
                <div class="card-body">
                  <div class="p-3 bg-gray-300">.bg-gray-300</div>
                </div>
            </div>

        </div>

        <!-- Second Column -->
        <div class="col-lg-4">

            <!-- Background Gradient Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">User Satisfaction
                    </h6>
                </div>
                <div class="card-body">
                  <div class="p-3 bg-gray-300">.bg-gray-300</div>
                </div>
            </div>

        </div>

        <!-- Third Column -->
        <div class="col-lg-4">

            <!-- Grayscale Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Future Plans
                    </h6>
                </div>
                <div class="card-body">
                    <div class="p-3 bg-gray-300">.bg-gray-300</div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->
