<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">What we offer?</h1>
    <br>

    <!-- Content Row -->
    <div class="row">

        <!-- Border Left Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    <i class="fas fa-fw fa-users"></i> General
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="card mb-4 py-3 border-left-secondary">
                <div class="card-body">
                    <i class="fas fa-fw fa-book-open"></i> Tutoring
                </div>
            </div>
            <br>
            <div class="card mb-4 py-3 border-left-success">
                <div class="card-body">
                    <i class="fas fa-fw fa-search"></i> Students looking for tutoring
                </div>
            </div>

        </div>

        <!-- Border Bottom Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                    We are seen as a middle man for students that are looking for tutorings and tutors that are offering tutoring to students.
                    We try to connect them on the simplest possible way through our system. Since finding a tutor is not as easy as it may seem.
                </div>
            </div>

            <div class="card mb-4 py-3 border-bottom-secondary">
                <div class="card-body">
                  Thorugh our system tutors are able to post the offers they have for students and let students book the one they need.
                </div>
            </div>

            <div class="card mb-4 py-3 border-bottom-success">
                <div class="card-body">
                  If you are looking for tutoring you are on the right place! Sign up to our system and browse through the list of acctive tutorings and
                  if you fin what you are looking for, just book it. Simple as that!
                </div>
            </div>

        </div>

    </div>

</div>
