<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 m-0 font-weight-bold text-primary">Who are we?</h1>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-6">

            <!-- Overflow Hidden -->
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-user"></i>About us</h6>
                </div>
                <div class="card-body">
                  We are a group of students, that found it difficult to find tutors during our time studying. So what we decided to?
                  Create a system where students can easily find tutor for the subject/task they need. Since the system is built by students wee knew what
                  wee needed to focus on an that is simplicity and accessability of the system. So enjoy this online tutoring platform and we hope you
                  find what are looking for here? And remember please contact us for any feedback since this is the first version and many more are to come!
                  <i class="fas fa-fw fa-smile-beam"></i><br><br><img src="./assets/img/leatn.jpg" width="500" height="250"></img>
                          </div>
                      </div>
                  </div>

        <div class="col-lg-6">

            <!-- Roitation Utilities -->
            <div class="card">
                <div class="card-body">
                    <div class="bg-primary text-white p-3  d-inline-block my-4"><img src="./assets/img/wee.jpeg" width="450" height="380"></img>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->
