<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Who are we?</h1>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-6">

            <!-- Overflow Hidden -->
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">About us</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <!-- Roitation Utilities -->
            <div class="card">
                <div class="card-body text-center">
                    <div class="bg-primary text-white p-3  d-inline-block my-4"><img src="./assets/img/wee.jpeg" width="470" height="400"></img>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->
