    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Your appointments</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="user-table" class="table table-bordered"width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Duration</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Tutor name</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<script type="text/javascript">

  getClasses();

  function getClasses(){
    $.ajax({
         url: "api/classesuser",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           var html = "";
           for(var i = 0; i < data.length; i++){
             html += '<tr class="odd">'
                 +'<td>'+data[i].name+'</td>'
                 +'<td>'+data[i].duration+'</td>'
                 +'<td>'+data[i].type+'</td>'
                 +'<td>'+data[i].date+'</td>'
                 +'<td>'+data[i].tutor+'</td></tr>';
           }

           $("#user-table tbody").html(html);

         }
      });
  }


</script>
