<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 m-0 font-weight-bold text-primary">User</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="#appo" onclick="getClasses()">Appointments</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <a href="#list" onclick="getClasses1()">List of active tutorings</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><a href="#edit" onclick="getUser()">Edit your information
                            </a></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Active tutorings</h6>
                </div>
                <div class="card-body">
                    Browse through the table of all the tutorings being offerd at the moment. Find what you are looking for, and BOOK IT.
                </div>
            </div>

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edit profile</h6>
                </div>
                <div class="card-body">
                    Edit your personal information.
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Appointments list</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Here you will be able all the tutorings you have booked, and general data about them, but remember once you book only the tutor can unbook.
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->
<script type="text/javascript">

      function getClasses(){
          var info = parse_jwt(window.localStorage.getItem("token"));
        $.ajax({
             url: "api/classesuser/"+info.id,
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
             success: function(data) {
               var html = "";
               for(var i = 0; i < data.length; i++){
                 html += '<tr class="odd">'
                     +'<td>'+data[i].name+'</td>'
                     +'<td>'+data[i].subject+'</td>'
                     +'<td>'+data[i].duration+'</td>'
                     +'<td>'+data[i].type+'</td>'
                     +'<td>'+data[i].date+'</td></tr>';
               }

               $("#user-table tbody").html(html);

             }
          });
      }

      function getUser(){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
        $.ajax({
             url: "api/usersedit/"+user_info.id,
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
             success: function(data) {
               var html = "";
               for(var i = 0; i < data.length; i++){
                 html += '<tr class="odd">'
                     +'<td>'+data[i].name+'</td>'
                     +'<td>'+data[i].last_name+'</td>'
                     +'<td>'+data[i].username+'</td>'
                     +'<td>'+data[i].email+'</td>'
                     +'<td>'+data[i].role+'</td>'
                     +'<td><button type="button" class="btn btn-info" id="delete" onclick="open_edit_modal('+data[i].id+');">Edit</button></td></tr>';
               }
               $("#user-table tbody").html(html);
             }
          });
      }

      function getClasses1(){
        $.ajax({
             url: "api/classes",
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
             success: function(data) {
               var html = "";
               for(var i = 0; i < data.length; i++){
                 html += '<tr class="odd">'
                     +'<td>'+data[i].name+'</td>'
                     +'<td>'+data[i].subject+'</td>'
                     +'<td>'+data[i].duration+'</td>'
                     +'<td>'+data[i].type+'</td>'
                     +'<td>'+data[i].date+'</td>'
                     +'<td><button type="button" class="btn btn-info" onclick="remove_user('+data[i].id+');">Book!</button></td></tr>';
               }

               $("#user-table tbody").html(html);
               $("#user-table").DataTable();

             }
          });
      }
</script>
