    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5" style="width: 60%; margin: 0px auto;">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Tutoring Information</h1>
                            </div>
                            <form class="user" id="add">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name"
                                            placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject"
                                            placeholder="Subject">
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label for="role">Duration</label>
                                      <select id="duration" name="duration" class="form-control">
                                        <option value="1hour">1h</option>
                                        <option value="2hours">2h</option>
                                        <option value="3hours">3h</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="role">Type</label>
                                        <select id="type" name="type" class="form-control">
                                          <option value="Online">Online</option>
                                          <option value="In person">In person</option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <label for="role">Date</label>
                                          <input class="form-control" type="date" id="date">
                                        </div>
                                <button id="add-link" onclick="addService()" class="btn btn-secondary btn-user btn-block">
                                    Add tutoring
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
    $(function(){
      if (!window.localStorage.getItem("token")){
            window.location = "index.html";
          }
    })

    function addService(){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
            var register_info = {
              "name" : $("#name").val(),
              "subject" : $("#subject").val(),
              "duration" : $("#duration").val(),
              "type" : $("#type").val(),
              "date" : $("#date").val(),
              "tutorid" : user_info.id,
            };

            $("#add-link").prop('disabled',false);
            $.post( "api/classes", register_info).done(function( data ) {
              toastr.success("Class has been added");
              document.getElementById('add').reset();
            }).fail(function(error) {
              $("#add-link").prop('disabled',false);
              toastr.error("Please fill all the fields");
            });

          }

    </script>
