    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Your Appointments</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="user-table" class="table table-bordered"width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Duration</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- /.container-fluid -->
<script type="text/javascript">

  getAppointments();

  function getAppointments(){
    var info = parse_jwt(window.localStorage.getItem("token"));
    console.log(info.id);
    $.ajax({
         url: "api/classestutorbook/"+info.id,
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           var html = "";
           for(var i = 0; i < data.length; i++){
             html += '<tr class="odd">'
                 +'<td>'+data[i].subject+'</td>'
                 +'<td>'+data[i].duration+'</td>'
                 +'<td>'+data[i].type+'</td>'
                 +'<td>'+data[i].date+'</td>'
                 +'<td><button type="button" class="btn btn-danger" onclick="remove_user('+data[i].id+');">Remove</button></td></tr>';
           }

           $("#user-table tbody").html(html);
           $("#user-table").DataTable();

         }
      });
  }
  function remove_user(id){
    $.post('api/appo/remove', {id: id}).done(function(){
      toastr.success('Appointment has been removed');
      getAppointments();
    }).fail(function(){
       toastr.error('Appointment has not been removed, try again!');
    });
  }


</script>
