<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 m-0 font-weight-bold text-primary">Tutor</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="#appo" onclick="getAppointments()">Appointments</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <a href="#table" onclick="getUsers()">Your tutorings</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><a href="#add-tutoring">Add tutoring
                            </a></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                <a href="#edit-tutor" onclick="getUser()">Edit information</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cog fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add tutoring</h6>
                </div>
                <div class="card-body">
                    Add a tutoring you offer and find potential student in need.
                </div>
            </div>

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Your tutorings</h6>
                </div>
                <div class="card-body">
                    List of yors still active tutorings that have not been booked.
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Appointments</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    See the list for all the appointments that have been created for youe tutorings, but you also have right to remove the appointment.
                </div>
            </div>

            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Edit profile</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        You are able to change you personal information here.
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->

<script type="text/javascript">


      function getAppointments(){
        var info = parse_jwt(window.localStorage.getItem("token"));
        $.ajax({
             url: "api/classestutorbook/"+info.id,
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
             success: function(data) {
               var html = "";
               for(var i = 0; i < data.length; i++){
                 html += '<tr class="odd">'
                     +'<td>'+data[i].subject+'</td>'
                     +'<td>'+data[i].duration+'</td>'
                     +'<td>'+data[i].type+'</td>'
                     +'<td>'+data[i].date+'</td>'
                     +'<td><button type="button" class="btn btn-danger" onclick="remove_user('+data[i].id+');">Remove</button></td></tr>';
               }

               $("#user-table tbody").html(html);
               $("#user-table").DataTable();

             }
          });
      }

      function getUser(){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
        $.ajax({
             url: "api/tutoredit/"+user_info.id,
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
             success: function(data) {
               var html = "";
               for(var i = 0; i < data.length; i++){
                 html += '<tr class="odd">'
                     +'<td>'+data[i].name+'</td>'
                     +'<td>'+data[i].last_name+'</td>'
                     +'<td>'+data[i].username+'</td>'
                     +'<td>'+data[i].email+'</td>'
                     +'<td>'+data[i].role+'</td>'
                     +'<td><button type="button" class="btn btn-info" id="delete" onclick="open_edit_modal('+data[i].id+');">Edit</button></td></tr>';
               }
               $("#user-table tbody").html(html);
             }
          });
      }

      function getUsers(){
        $.ajax({
             url: "api/classestutor",
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
             success: function(data) {
               var html = "";
               for(var i = 0; i < data.length; i++){
                 html += '<tr class="odd">'
                     +'<td>'+data[i].name+'</td>'
                     +'<td>'+data[i].subject+'</td>'
                     +'<td>'+data[i].duration+'</td>'
                     +'<td>'+data[i].type+'</td>'
                     +'<td>'+data[i].date+'</td>'
                     +'<td><button type="button" class="btn btn-info" id="delete" onclick="open_edit_modal('+data[i].id+');">Edit</button></td>'
                     +'<td><button type="button" class="btn btn-danger" onclick="remove_user('+data[i].id+');">Remove</button></td></tr>';
               }

               $("#user-table tbody").html(html);
               $("#user-table").DataTable();

             }
          });
      }
</script>
