<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="editform">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" name="id" id="id" aria-describedby="emailHelp" hidden></input>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" name="subject" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label>Duration</label>
            <select id="duration" name="duration" class="form-control">
              <option value="1hour">1h</option>
              <option value="2hours">2h</option>
              <option value="3hours">3h</option>
            </select>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select id="type" name="type" class="form-control">
              <option value="Online">Online</option>
              <option value="In person">In person</option>
            </select>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date" aria-describedby="emailHelp" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="container">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of your active tutorings</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="user-table" class="table table-bordered"width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Subject</th>
                            <th>Duration</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<script type="text/javascript">

  getUsers();

  function getUsers(){
    $.ajax({
         url: "api/classestutor",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           var html = "";
           for(var i = 0; i < data.length; i++){
             html += '<tr class="odd">'
                 +'<td>'+data[i].name+'</td>'
                 +'<td>'+data[i].subject+'</td>'
                 +'<td>'+data[i].duration+'</td>'
                 +'<td>'+data[i].type+'</td>'
                 +'<td>'+data[i].date+'</td>'
                 +'<td><button type="button" class="btn btn-info" id="delete" onclick="open_edit_modal('+data[i].id+');">Edit</button></td>'
                 +'<td><button type="button" class="btn btn-danger" onclick="remove_user('+data[i].id+');">Remove</button></td></tr>';
           }

           $("#user-table tbody").html(html);
           $("#user-table").DataTable();

         }
      });
  }
  function remove_user(id){
    $.post('api/classes/remove', {id: id}).done(function(){
      toastr.success('Tutoring has been removed');
      getUsers();
    }).fail(function(){
       toastr.error('Tutoring not removed!');
    });
  }
  function open_edit_modal(id){
    $('#editModal').modal('toggle');
    $.ajax({
         url: "api/classes/"+id,
         type: "GET",
         success: function(data) {
           $("#editform input[name=name]").val(data.name);
           $("#editform input[name=subject]").val(data.subject);
           $("#editform input[name=duration]").val(data.duration);
           $("#editform input[name=type]").val(data.type);
           $("#editform input[name=date]").val(data.date);
           $("#editform input[name=id]").val(data.id);
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown ){
           console.log(jqXHR);
         }
      });
  }

  $('#editform').validate({
     submitHandler: function(form, validator){
       $.post('api/classes/'+document.getElementById("id").value, $("#editform").serialize()).done(function(){
          toastr.success('Tutoring updated');
          $('#editModal').modal('toggle');
          getUsers();
        }).fail(function(){
           toastr.error('Tutoring not updated');
        });
 }

});


</script>
